In [68]:
import pandas as pd
df=pd.read_csv("tested.csv")
df.head(5)
df.drop(['Name','PassengerId','SibSp','Fare','Ticket','Cabin','Embarked','Parch'],axis='columns',inplace=True)
df.head(5)

   Survived  Pclass     Sex   Age
0         0       3    male  34.5
1         1       3  female  47.0
2         0       2    male  62.0
3         0       3    male  27.0
4         1       3  female  22.0

In [69]:
target=df.Survived
inputs=df.drop(["Survived"],axis="columns")

In [70]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       0     1

In [71]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head()

   Pclass     Sex   Age  female  male
0       3    male  34.5       0     1
1       3  female  47.0       1     0
2       2    male  62.0       0     1
3       3    male  27.0       0     1
4       3  female  22.0       1     0

In [72]:
inputs=df.drop(["Sex"],axis="columns")
inputs.head(5)

   Survived  Pclass   Age
0         0       3  34.5
1         1       3  47.0
2         0       2  62.0
3         0       3  27.0
4         1       3  22.0

In [73]:
inputs.Age=inputs.Age.fillna(int(inputs.Age.mean()))
inputs.head(5)

   Survived  Pclass   Age
0         0       3  34.5
1         1       3  47.0
2         0       2  62.0
3         0       3  27.0
4         1       3  22.0

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(inputs,target,test_size=0.2)

In [87]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,Y_train)

GaussianNB()

In [91]:
import sklearn.metrics
model.predict(X_test)
model.score(X_test,Y_test)

1.0