In [3]:
import pandas as pd
l1 = {'eid': ['A1','A2','A3'],
     'ename':['mary','jane','will'],
     'stipent': [15000,12000,13000]}
df1= pd.DataFrame(l1)
df1

  eid ename  stipent
0  A1  mary    15000
1  A2  jane    12000
2  A3  will    13000

In [4]:
l2 = {'eid': ['A1','A2','A3'],
     'designation': ['tester', 'devoloper', 'accountant']}
df2= pd.DataFrame(l2)
df2

  eid designation
0  A1      tester
1  A2   devoloper
2  A3  accountant

In [5]:
pd.concat([df1,l2])

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid