In [1]:
import pandas as pd
import numpy as np
db = {'Numbers' : [2, 5, 6, np.nan,10,np.nan,np.nan ]}
df=pd.DataFrame(db)
df['Numbers']=df["Numbers"].fillna(0)
df

   Numbers
0      2.0
1      5.0
2      6.0
3      0.0
4     10.0
5      0.0
6      0.0