In [2]:
import pandas as pd
d ={ 'Name' : ['Harry','John','Mary','Charly'],
    'Age' : [25,35,26,30],
    'Place' : ['TVM','NYR','LON','SAN']}

print('DataFrame with custom index')
df= pd.DataFrame(d)
df

DataFrame with custom index

     Name  Age Place
0   Harry   25   TVM
1    John   35   NYR
2    Mary   26   LON
3  Charly   30   SAN

In [4]:
df1= df.head(2)
df1

    Name  Age Place
0  Harry   25   TVM
1   John   35   NYR